.icon-left{
    position: absolute;
   
    left:10px;
    top:10px;
}
.icon-right{
    position: absolute;
    bottom: 10px;
    right:10px;
}

.season-display{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.season-display.winter i{
    color: blueviolet
}
.season-display.summer i{
    color:yellowgreen;
}
.winter{
    background-color: aqua;

}
.summer{
    background-color: darkgoldenrod;
}